body{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 2fr 1fr 10fr 1fr;
    background-color: darkslategray;
    margin: 0;
}

header{
    grid-column: 1/7;
    background-color: rgba(0, 0, 0, 0.726);
    padding-left: 1%;
    color: aliceblue;
    font-size: 300%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


nav{
    grid-column: 1/7;
    padding: 1%;
    background-color: chartreuse;
}

aside{
    grid-column: 1;
    background-color: blue;
    padding: 2.5%;
}

main{
    grid-column: 2/7;
    padding: 2.5%;
}

footer{
    grid-column: 1/7;
    background-color: black;
    color: aliceblue;
}

@media all and (orientation: portrait), all and (max-width: 480px){
    body{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 1fr 1fr 2fr 10fr 2fr;
    }

    aside{
        grid-column: 1/7;
    }

    main{
        grid-column: 1/7;
    }
}