
.body-style{
    background-color: darkslategray;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

.header{
    background-color: rgba(0, 0, 0, 0.726);
    padding-left: 1%;
    width: 100%;
    color: aliceblue;
    font-size: 300%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.nav-style{
    width:100%;
    padding: 1%;
    background-color: chartreuse;
}

aside{
    background-color: blue;
    padding: 2.5%;
    width: 15%;
    float: left;
}

main{
    float: right;
    width:75%;
    padding: 2.5%;
}

footer{
    float: left;
    width: 100%;
    background-color: black;
    color: aliceblue;
}